#app{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.trafficBox {
    background: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
    margin-bottom: 10px;
}

.glow {
    box-shadow: 0px 0px 29px 9px #959ce9;
}

.cycleButton {
    margin-top: 20px;
    width: 100%;
}